
  body{
      margin: 0;
   
    }
    .top
    {
      position:fixed;
      bottom:64px;
      right:15px;
      cursor: pointer;
      z-index: 99;
    }
    html { scroll-behavior: smooth; 
    }
  
    .te{
      font-size:50px;
      text-align: center;
    }
    .im{
      position:relative;
      top:400px;
      text-align: center;
    }
    
    .cow{
      color: black;
      text-decoration: none;   
    }
    
    h1{
      font-size:60px;
      text-align: left;
      padding:40px;
      margin:10px;
      position:fixed;
      top:10px;
      z-index: 1;
    }
    label.menu{
      position:fixed;
      left:1890px;
      top:70px;
      padding:4px;
 
    }
    input#menu{
        position:fixed;
      left:1890px;
      top:70px;
      padding:4px;
      
    }
    input#menu{

      
      display:none;
      
 
    }
    nav#main_nav{
      display:none;
      position:fixed;
      left:1850px;
      top:120px;
      padding:4px;
      z-index: 1;
 
    }
    input#menu:checked+nav#main_nav{
     
      display:block;
    
    }
    
   .menuitems{
      list-style: none;
  }
  .menuitems li{
      padding: 5px;
      border-bottom: 1px solid #ccc;
      
  }
   .menuitems li a{
      text-decoration: none;
  }
    
    .article{
      border:1px solid black;
      position:relative;
      top:60px;
      margin-left:5px;
      margin-right:5px;
      margin-top:5px;
      margin-bottom:5px;
      padding-left:10px;
    }
    .line{
      text-align: right;
    }
    .login{
      margin:10px;
      color: black;
      text-decoration: none;
    position:fixed;
    top:300px;
    left:1839px;
    padding-top:10px;
    z-index: 1;
    }
  
    @media (max-width:800px)
    {
      .grid {
      display:block;
      }
      .article{
      margin:5px;
      display:flexbox ;
      }
      
     
    }
 